.programs{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.program {
    width: 100%;
    border-radius: 10px;
    display: inline-block;
    flex-basis: 31%;
}
.program{
    
}