.programs {
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.program img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.program {
  flex-basis: 31%;
  position: relative;
}
.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 15, 152, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  padding-top: 70px;
  transition: 0.3s;
}
.caption img {
  width: 60px;
  margin-bottom: 10px;
}

.caption:hover {
  opacity: 1;
  padding-top: 0;
}
.title {
  font-size: 15px;
  text-align: center;
  color: #212ea0;
  font-weight: 600;
  text-transform: uppercase;
  margin: 70px 0 30px;
}
.title {
  font-size: 32px;
  color: #000f38;
  margin-top: 5px;
  text-transform: none;
}
